## Series y dataframes

In [1]:
import pandas as pd

### Series
$pd.Series()$

In [2]:
animals = pd.Series(['perro','gato','murciélago','pollo','canguro'],index=[1,2,15,11,40])
print(animals)

1          perro
2           gato
15    murciélago
11         pollo
40       canguro
dtype: object

In [3]:
animals = pd.Series(['perro','gato','murciélago','pollo','canguro'])
print(animals)

0         perro
1          gato
2    murciélago
3         pollo
4       canguro
dtype: object

Podemos transformar un diccionario en un $pd.Series$:

In [4]:
animals_dict = {1:'gato',2:'perro',3:'caballo',10:'elefante',25:'koala'}
animals = pd.Series(animals_dict)
print(animals)

1         gato
2        perro
3      caballo
10    elefante
25       koala
dtype: object

##### Identificar elementos de un pd.Series

Los elementos de la serie se ubican por su índice.

In [5]:
an_animal = animals[10]
print(an_animal)
some_animals =animals[0:3]
print(some_animals)

elefante
1       gato
2      perro
3    caballo
dtype: object

### Dataframes
$pd.DataFrame()$

Datos con diversas clasificaciones.

In [6]:
collections = {'Animals':['Horse','Dog','Cat','Mouse','Butterfly'],'Countries':['Mexico','Peru','Canada','Brasil','Spain'],'Flowers':['Rose','Tulip','Sunflower','Azalea','Gerbera']}

In [7]:
pd.DataFrame(collections,index=[1,2,3,4,5])

     Animals Countries    Flowers
1      Horse    Mexico       Rose
2        Dog      Peru      Tulip
3        Cat    Canada  Sunflower
4      Mouse    Brasil     Azalea
5  Butterfly     Spain    Gerbera

In [8]:
collections_pd = pd.DataFrame(collections,index=[1,2,3,4,5])

Acceder a las columnas:

In [9]:
collections_pd.columns

Index(['Animals', 'Countries', 'Flowers'], dtype='object')

Acceder al índice (filas):

In [10]:
collections_pd.index

Index([1, 2, 3, 4, 5], dtype='int64')